.signup-button {
  padding: 8px 20px;
  background: linear-gradient(138deg, #ff5502, #ff017f, #ff010d);
  background-size: 350% 100%;
  transition: background-position 0.15s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  border: none;
  color: white;
  border-radius: 8px;
  vertical-align: middle;
  cursor: pointer;
  /*display: inline-block;*/
  font-weight: 900;
  line-height: 1.5;
  font-size: 17px;
  float: right;
  font-family: Helvetica, sans-serif;
}

.signup-box {
  width: 90%;
  max-width: 32rem;
  background: #fff;
  border-radius: 15px;
  padding: 1.5em 2em;
  text-align: left;
  margin: 1em 0 5em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.253);
  border: 2px solid #ddd;
  position: relative;
  color: black;
}
.signup-para {
  padding: 10px 0px 0px 0px;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

.signup-heading-smallerFont {
  font-weight: 400;
}

.signup-heading-bigFont {
  font-weight: 700;
}
